{{!-- this is the celebrities page --}}
<h1>Celebrities</h1>
<hr>
<a href="/celebrities/create">Add a Celeb</a>
<hr>
<div>
{{#each Celebrity}}
    <h3>{{name}}</h3>
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>
{{/each}}
</div>