{{!-- this is the movies page --}}
<h1>Movies</h1>
<hr>
<a href="/movies/create">Add a Flick</a>
<hr>
<div>
{{#each moviesarr}}
    <h3>{{title}}</h3>
     <a href='/movies/{{this._id}}'>more info</a>
     <hr>
{{/each}}
</div>